<div class="game-section" [class]="{'playing':isGameStarted}">

  <div class="toolbar row mx-0">
    <div class="col">Scores: {{scores}}</div>
    <div class="col">Time: {{gameTime}}s left</div>
  </div>

  <div id="prestart-timer" class="prestart-timer" [class.d-none]="isGameStarted">
    {{preStart}}
  </div>

  <div class="items-area">
    
    <div id="catcher-area" class="catcher-area">
      <img cdkDrag cdkDragLockAxis="x" cdkDragBoundary=".catcher-area" 
      id="catcher" class="catcher" src="/assets/game/boat.png" alt="catcher">
    </div>

    <img *ngFor="let item of itemList | keyvalue"
      [id]="item.key" class="game-item {{item.key}}" src="/assets/game/{{item.key}}.png" 
      (click)="onCatchItems(item.key)" (mouseover)="onCatchItems(item.key)" (dragover)="onCatchItems(item.key)"
      [ngClass]="{ 'hide': item.value.hide, 'move': item.value.move }"
      [style]="{ 'left': item.value.left }"
    >

  </div>

  <div class="name-input-container" [class.show]="isShowInput">
    <div class="input-container">
      <div class="result-scores">{{scores}}</div>
      <input class="d-inline-block mb-5 player-name-input" id="playerName" type="text" 
      [(ngModel)]="nameInput" placeholder="Your Name" />
      <div>
        <button class="btn custom-btn" (click)="onSubmitRecord()">Submit</button>  
      </div>
    </div>
  </div>

  <div class="ranking-container" [class.show]="isShowRanking">
    <div class="d-inline-block text-white w-100">
      <app-leaderboard [limit]="10" [isRequestFetchData]="onRequestFetchData"></app-leaderboard>
    </div>
  </div>

</div>