.home-section{
  width: 100%;
  background-image: url('../../assets/game/bg2.png');
  background-position: center;
  text-align: center;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-container {
    .custom-btn {
      width: 220px;
      padding: 24px 12px;
    }
  }
}